.ant-space-item{
    color: white  !important;
}
.ant-dropdown-menu {
    background-color: rgb(36, 37, 37) !important;

    .ant-dropdown-menu-item {
        color: white  !important;
    }
 
}
html{
    background-color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
    background-color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px !important;
}
#root{
    height: 100%;
    width: 100%;
    overflow: hidden;
}