
.colorElement{
    margin-top: 5px;
    margin-bottom:5px;
    height:32px;
    line-height: 32px;
    display: flex;
    align-items:center
}
.colorName{
    display: inline-block;
    width: calc(40% + 2px);
}
.colorWrapper{
    // width: 60%;
    display: inline-block;
    // display: block;
}
.colorPicker{
    margin-top:4px;
    margin-right: 5px;
    border: 0px !important;
    border-color:rgba(255, 255, 255, 0) !important;
}