.InputStringElement{
    display: flex;
    align-items:center;
    margin-top: 5px;
    margin-bottom:5px;
    
}
.name{
   display: inline-block;
   width: 40%;
}
.input{
    width: 100px;
    background-color:#000000 !important;
    color:#ffffff !important;
    border-radius: 6px !important;
 
 }
 .input::placeholder{
	color:#ffffffa6 !important;
}