 
.wrapper{
   color: aliceblue !important;
   .ant-tabs-tab{
      color: white !important;
   }
}
.toList{
   position: absolute;
   top: 10px;
   left: 10px;
   z-index: 10;
   color: white;
   cursor: pointer;
}
.Wrapper{
   position: relative;
   width: 100%;
   height:100%;
}
 
.RenderCanvasContainer{
   position: relative;
   width: 100%;
   height:100%;
   margin: 0px;
   padding: 0px;
   outline: none;  /* 去掉点击或聚焦时的默认轮廓 */
   border: none;   /* 去掉可能存在的默认边框 */
   display: flex;
   box-sizing: border-box;
   flex-wrap: nowrap;
   flex-direction: row
}


.renderCanvas{
   flex-grow:1;
   height: 100%;
   width: 100%;
   margin: 0px;
   padding: 0px;
   outline: none;  /* 去掉点击或聚焦时的默认轮廓 */
   border: none;   /* 去掉可能存在的默认边框 */
   box-sizing: border-box;
   display: block;
}
.interactiveTab{
   width: 100%;
   position: absolute;
   bottom: 0px;
 
   
}
 