.buttonElement{
    width: 90% !important;
    background-color: #ffffffc1;
    color: black !important;
    font-weight: 400;
    border-radius: 6px !important;
    margin: 10px 5%;
    
}
.buttonElement:hover{
    background-color: #ffffffff !important;
}