.SliderNumberInput{
    display: flex ;
    align-items:center;
    margin-top: 5px;
    margin-bottom:5px;
    height: 25px;
    padding: 5px;
    
    background-color: #000000;
 
}
 .input{
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
    color: #ffffff;
    background-color: #000000;
    flex: 1;
    min-width: 0;
    border:none;
    outline:none;
    height: 25px;
 }
 .DragLabel{
    padding: 0px ;
    color: #a7a7a7;
    cursor: ns-resize  !important;
    background-color:#000000 !important;
    height: 25px;
    line-height:25px ;
    display: inline-block;
 }
 