

@media (max-width: 768px) {
  .item{
    width:150px;
    height: 95px;
    position: relative;
}
.describe{
  height: 20px;
  color: white;
  background-color: #00000000;
  line-height:20px;
  padding: 5px;
  text-align: center;
  font-size: 12px;
}
}

// 非移动端（桌面端）样式
@media (min-width: 769px) {
  .item{
    width:300px;
    height: 250px;
    position: relative;
}
.describe{
  height: 20px;
  color: white;
  background-color: #00000000;
  line-height: 20px;
  padding: 5px;
  text-align: center;
}
}

.wrapper{
   color: aliceblue !important;
    padding: 20px;
    padding-top: 30px;
}
.imageItem:hover{
  cursor: pointer;
}
.setting{
  position: absolute;
  right: 0px;
  top: 0px;
  color: aliceblue !important;
  z-index: 10;
  margin: 15px;
}
.iconSetting{
  font-size: 16px;
}