.SliderElement{
  display: flex;
  align-items:center
}
.name{
    display: inline-block;
    width: 40%;
}
.slider{
    display: inline-block;
    width: 50px;
}
.input{
    display: inline-block;
    width: 70px;
    margin-left: 5px;
    color: #ffffff !important;
}